
{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="jumbotron-fluid"">
	<div style="color: rgb(27, 66, 27); font-family: 'Times New Roman', Times, serif; margin-left: 10px;">
		<img style="height:50px "src="{% static "img/Logo_Orplant.png" %}" alt="">
		<h5>About Us</h5>

		<p>Orplant adalah platform tanaman hias yang menjadi wadah para pencinta tanamanan hias untuk melakukan transaksi jual-beli (Store) dan berbagi informasi mengenai tanaman hias (Artikel).</p>

	<hr class="my-4">

		<img style="height:50px "src="{% static "img/Logo_Orplant.png" %}" alt="">

		<h5>Contact</h5>
		<h6 style="margin-left: 10px;">
			<img src="/static/img/Logo_Facebook.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
			Orplant
		</h6>

		<h6 style="margin-left: 10px;">
			<img src="/static/img/Logo_twitter.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
			@Orplant
		</h6>
		<h6 style="margin-left: 10px;">
			<img src="/static/img/Logo_Instagram.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
			Orplant
		</h6>
	</div>
</div>


{% endblock content %}
